/* write your css here */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

.button {
  padding: 14px 27px;
  background-color: transparent;
  color: #fafafa;
  font-weight: 900;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  transition: all linear 0.5s;
}
.button::after {
  content: "";
  height: 100%;
  width: 0%;
  background-color: #3a8ead;
  position: absolute;
  left: 0%;
  top: 0%;
  transition: all linear 0.5s;
  z-index: -1;
}
.button:hover::after {
  width: 100%;
}
.button:hover {
  color: black;
}

*::selection {
  color: #d3c0c0;
  background-color: #065671;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: #000814;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(221, 214, 214, 0.682);
  border-radius: 15px;
}

/* .code1 {
  background: radial-gradient(circle, #342A1B 0%, #060F1E);
}
.code {
  background: radial-gradient(circle, #113845 -50%, #060F1E);
} */

.homepage_bg {
   background: url("./assets/Images/bghome.svg");
}

.code1 {
  width: 372.95px;
  height: 257.05px;
  border-radius: 100%;
  left: calc(50% - 372.95px / 2 - 76.53px);
  top: calc(50% - 257.05px / 2 - 47.47px);
  background: linear-gradient(
    123.77deg,
    #8a2be2 -6.46%,
    #ffa500 59.04%,
    #f8f8ff 124.53%
  );
  opacity: 0.2;
  filter: blur(34px);
  transform: matrix(1, 0, -0.03, 1, 0, 0);
}
.code {
  position: absolute;
  width: 372.95px;
  height: 257.05px;
  left: calc(50% - 372.95px / 2 - 76.53px);
  top: calc(50% - 257.05px / 2 - 47.47px);
  border-radius: 100%;
  background: linear-gradient(
    118.19deg,
    #1fa2ff -3.62%,
    #12d8fa 50.44%,
    #a6ffcb 104.51%
  );
  opacity: 0.2;
  filter: blur(34px);
  transform: matrix(1, 0, -0.03, 1, 0, 0);
}
.code-border {
  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to right bottom, #ffffff38, #ffffff00);
  background: linear-gradient(
    111.93deg,
    rgba(14, 26, 45, 0.24) -1.4%,
    rgba(17, 30, 50, 0.38) 104.96%
  );
  /* backdrop-filter: blur(26px); */
}